html, body, #app {
    height: 100%;
}

.map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:url(../img/bg-map.jpg);
    background-size: cover;
    background-position: center;
}
.map:after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    z-index: 1000;
    height: calc(100vh - 56px);
    padding: 20px;
    
}
.sidebar .box {
    max-width: 320px;
    max-height: 100%;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 3px 3px 3px #cccccc;
    border-radius: 20px;
    padding: 20px;
}
.sidebar h3 {
    color: #d07d00;
    font-size: 1.2rem;
}

.title {
    background: #f19100;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.sell-menu .title {
    margin-top: 20px;
}
.title svg {
    width: 30px;
    margin: 5px;
    fill: #fff;
    display: inline-block;
    vertical-align: middle;
}
.title h2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 5px 0;
}

.check-group {
    display: flex;
    flex-flow: wrap;
}
.check-group input[type=checkbox]{
    display:none;
}
.check-group input[type=checkbox] + label.radio-btn {    
    flex: 0 0 46%;
    display: inline-block;
    font-weight: 500;
    color: #fff;
    position: relative;
    background: #ffa316;
    border: 1px solid #d07d00;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 2%;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
.check-group input[type=checkbox]:checked + label.radio-btn, .check-group input[type=checkbox] + label.radio-btn:hover {
    background: #d07d00;
}

.fields {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}
.fields .detalles >div {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

.check-group.estado {
    flex-wrap: wrap;
    justify-content: center;
}
.check-group.estado input[type=checkbox] + label.radio-btn {
    flex: 0 0 auto;
    background: #f7f7f7;
    color: #828282;
    border-color: #a5a5a5;
    padding: 0px 7px;
    border-radius: 5px;
    font-weight: 400;
    font-size: .9rem;
    margin: 2px 3px 2px 3px;
}
.check-group.estado input[type=checkbox] + label.radio-btn:hover, .check-group.estado input[type=checkbox]:checked + label.radio-btn {
    background: #a5a5a5;
    color: #fff;
}

.title:not(.active) {
    border-radius: 10px;
    background: #f7f7f7;
    color: #a5a5a5;
}
.title:not(.active) svg {
    fill: #a5a5a5;
}
.title:not(.active) .check-group input[type=checkbox] + label.radio-btn {
    background: #a5a5a5;
    border-color: #a5a5a5;
}
.title:not(.active) .check-group input[type=checkbox] + label.radio-btn:hover, .title:not(.active) .check-group input[type=checkbox]:checked + label.radio-btn{
    background: #f19100;
    border-color: #f19100;
}

select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../img/arrow-select.svg);
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: 10px;
    background-color: #f7f7f7;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    margin: 3px 0;
    overflow: hidden;
    padding: 0px 7px;
    font-size: .9rem;
    color: #828282;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
select:focus {
    outline: none;
}

.valor label {
    font-size: .9rem;
    margin: 3px;
}
.valor input[type=checkbox] {
    margin-right: 5px;
    vertical-align: middle;
}
.valor input[type=text] {
    border: 1px solid #a5a5a5;
    padding: 3px 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: .9rem;
}

.content {
    padding-top: 76px;
    padding-bottom: 20px;
}
.content .box {
    background: #fff;
    max-width: 900px;
    box-shadow: 3px 3px 3px #cccccc;
    border-radius: 20px;
    padding: 20px;
    display: none;
}

.list-mode .filter {
    display: flex;
    align-items: center;
}
.list-mode .filter h3 {
    flex: 1;
    font-size: 1.2rem;
    margin: 0;
}

.list-mode .filter input {
    margin: 0 5px 0 10px;
}
.list-mode .filter label {
    margin: 0;
}

.list-mode .list {
    margin-top: 40px;
}
.list-mode .list .item {
    display: flex;
    border: 1px solid #ccc;
    padding: 15px;
    background: #f7f7f7;
    margin-bottom: 20px;
}
.list-mode .item .img {
    flex: 0 0 auto;
    display: block;
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
}
.list-mode .item .info {
    flex: 1;
    margin: 0 20px;
}

.list-mode .info h3 {
    font-size: 1.4rem;
    color: #005b95;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.list-mode .info .desc {
    display: flex;
}
.list-mode .info .desc >div {
    flex: 0 0 50%;
}
.list-mode .desc span {
    display: block;
    margin-bottom: 5px;
}
.list-mode .item .buttons {
    flex: 0 0 auto;
}
.list-mode .item .buttons .btn {
    display: block;
    width: 100%;
    color: #fff;
    background: #005b95;
    margin-bottom: 10px;
}
.list-mode .item .buttons .btn:hover {
    background:#f19100;
}

.modal-body.box-info {
    display: flex;
    flex-flow: wrap;
}
.modal-body.box-info .img {
    flex: 1;
    background-size: cover;
    background-position: center;
}
.modal-body.box-info .text {
    flex: 1;
    margin-left: 20px;
    font-size: .9rem;
}
.modal-body.box-info .text h3 {
    font-size: 1.2rem;
    color: #005b95;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.modal-body.box-info .text .desc {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.modal-body.box-info .text .desc >div {
    flex: 0 0 50%;
}
.modal-body.box-info .text .desc span {
    display: block;
    margin-bottom: 5px;
}
.modal-body.box-info .text p {
    margin: 10px 0 0 0;
}
.modal-body.box-info .more {
    flex: 0 0 100%;
    margin-top: 15px;
    text-align: center;
    font-size: .9rem;
}
.modal-body.box-info .more strong {
    display: block;
    text-align: left;
}
.modal-body.box-info .more p {
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.modal-body.box-info .more .btn {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    color: #fff;
    background:#f19100;
    margin: 5px;
}
.modal-body.box-info .more .btn:hover {
    background: #005b95;
}

@media (min-width: 768px){
    
    .sidebar .box {
        margin-left: 5%;
    }
    
}

@media (min-width:992px){
    
    
}
