.f1 h4 {
    background: #005b95;
    color: #fff;
    padding: 5px 2%;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.f1-steps { overflow: hidden; position: relative; text-align: center; }

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #f19100; }

.f1-step { position: relative; float: left; width: 33.333333%; padding: 0 5px; }

.f1-step-icon {
	display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #b9b9b9;
	font-size: 16px; color: #fff; line-height: 40px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
	background: #fff; border: 1px solid #f19100; color: #f19100; line-height: 38px;
}
.f1-step.active .f1-step-icon {
	width: 48px; height: 48px; margin-top: 0; background: #f19100; font-size: 22px; line-height: 48px;
}

.f1-step p { color: #ccc; }
.f1-step.activated p { color: #f19100; }
.f1-step.active p { color: #f19100; }

.f1 fieldset { display: none; text-align: left; }

.f1-buttons {
    overflow: hidden;
    border-top: 2px solid #005b95;
    padding-top: 1rem;
}

.f1 input:focus, .f1 textarea:focus {
    outline: none;
}

.f1 .btn {
    float: right;
    color: #fff;
    padding: 5px 15px;
    margin: 0 2% 10px 2%;
    border-radius: 30px;
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #005b95;
    background-size: 16px;
    background-repeat: no-repeat;
}
.f1 .btn:hover {
    background-color: #f19100;
}
.f1 .btn-next {
    padding-right: 34px;
    background-position: center right 9px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff' viewBox='0 0 24 24'%3E%3Cpath d='M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z'/%3E%3C/svg%3E");
}
.f1 .btn-prev {
    float: left;
    padding-left: 34px;
    background-position: center left 9px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffffff' viewBox='0 0 24 24'%3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z'/%3E%3C/svg%3E");
}

/* diplay:inline-block compatibility */
.form-group {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
}
.form-group .form-field {
    display: inline-block;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: bottom;
    text-rendering: auto;
    width: 29.333%;
    margin: 20px 2%;
    border-bottom: 2px solid #005b95;
    padding-bottom: 5px;
    color: #005b95;
}
.form-group .form-field.w2 {
    width: 62.666%;
}
.form-group.list .form-field, .form-group.more .form-field {
    width: 21%;
    vertical-align: top;
    border: 0;
}
.form-group.more .form-field {
    width: 46%;
}

.my-radio, .my-select, .my-text, .my-checkbox {
    display: flex;
    align-items: center;
}
.my-checkbox {
    align-items: start;
}

.my-radio span, .my-select span, .my-text span, .my-checkbox span {
    flex: 1;
}
.form-group.list span, .form-group.more span {
    border-bottom: 2px solid #005b95;
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}

.my-text input {
    flex: 1;
    margin: 0;
    padding: 5px;
    border: 1px solid transparent;
    background: #f1f1f1;
    max-width: 150px;
    height: 32px;
}
.my-radio input[type=radio] {
    display:none;
}
.my-radio input[type=radio] + label {
    flex: 0 0 auto;
    text-align: center;
    font-size: .65rem;
    line-height: 32px;
    font-weight: 600;
    width: 32px;
    margin: 0 3px;
    border-radius: 50%;
    background: #b9b9b9;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
.my-radio input[type=radio]:checked + label {
    background: #7db227;
}
.my-radio input[type=radio]:checked + label.no {
    background: #a71e1e;
}

.my-select select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34.088' height='15.081' viewBox='0 0 34.088 15.081'%3E%3Cpath d='M2679.01,982.891l-16.9,15.081-17.191-15.081Z' transform='translate(-2644.922 -982.891)' fill='%23005b95'/%3E%3C/svg%3E");
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: 12px;
    border: 0;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    padding: 5px 16px 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 0 0 50px;
}

.my-checkbox input[type=checkbox] {
    display:none;
}
.my-checkbox input[type=checkbox] + label {
    flex: 0 0 auto;
    display: block;
    font-size: .7rem;
    font-weight: 600;
    margin: 3px 6px 3px 0;
    cursor: pointer;
}
.my-checkbox input[type=checkbox] + label:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 15px;
    height: 15px;
    background-color: #b9b9b9;
    background-size: 9px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 3px;
    border-radius: 50%;
}
.my-checkbox input[type=checkbox]:checked + label:before  {
    background-color: #7db227;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E");
}
.my-checkbox .form-col {
    flex: 1;
}
.form-group.list .my-checkbox {
    flex-direction: column;
}
.form-group.list .my-checkbox input[type=checkbox] + label {
    font-size: .8rem;
    font-weight: 400;
}
.form-group.list .my-checkbox input[type=checkbox] + label:before {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.f1 textarea {
    display: block;
    width: 96%;
    font-size: .9rem;
    margin: 20px 2%;
    padding: 10px;
    border: 1px solid transparent;
    background: #f1f1f1;
}
.form-group.more textarea {
    width: 100%;
    margin: 20px 0;
}
.f1 .value {
    display: block;
    width: 96%;
    margin: 20px 2% 0 auto;
    text-align: right;
    padding-bottom: 0;
    border: 0;
}
.f1 .value span {
    font-size: 1.2rem;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: middle;
}
.f1 .value input {
    display: inline-block;
    vertical-align: middle;
    font-size: .9rem;
    padding: 10px;
    border: 1px solid transparent;
    background: #f1f1f1;
}

.f1 .input-error {
    border-color: #f19100!important;
}

.image {
    display: block;
    margin-top: 20px;
    position: relative;
}
.image .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    top: 0;
	z-index: -1;
}
.image .inputfile + label {
    display: block;
    width: 100%;
    max-width: 200px;
    color: #fff;
    border-radius: 5px;
    background-color: #005b95;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
}
.image .inputfile + label:hover {
    background-color: #f19100;
}
